
<!-- JUMBOTRON -->


<header>

<div class="jumbotron jumbotron-fluid">
  <div class="text">
    <h1 class="display-4">Better Eventbrite</h1>
    <p class="lead">Des sorties à n'en plus travailler...</p>
  </div>
</div>

</header>


<div class="button">
	<a class="btn btn-warning btn-lg" <%= link_to "Crée ton Event!", new_event_path %> </a>
</div>

<div class="container event">
	<div class="row">
		<% @events.each do |event, id| %>

			<div class="col-lg-4 ev">
				<div class="card" style="width: 20rem">
					<%= image_tag("event.jpeg", :size => "320x220") %>

				  <div class="card-body">
				    <h5 class="card-title"> Titre: <%= link_to "#{event.title}", event_path(event.id)%></h5>
				    <h5 class="card-text"> Profil: <%= event.admin.first_name %> </h5>
				  </div>

				</div>
			</div>

		<% end %>
	</div>
</div>