
<!-- JUMBOTRON -->


<header>

<div class="jumbotron jumbotron-fluid">
  <div class="text">
    <h1 class="display-4">Better Eventbrite</h1>
    <p class="lead">Des sorties à n'en plus travailler...</p>
  </div>
</div>

</header>


<div class="button">
	<a class="btn btn-warning btn-lg" href="<%= new_event_path %>">Crée ton Event!
	</a>
</div>

<div class="container event">
	<div class="row">
		<% @events.each do |event, id| %>

			<div class="col-lg-4 ev">
				<%= image_tag("event.jpeg", :size => "240x240", :class => "rounded-circle") %>
				<div class="container evtxt">
			    <h5><%= link_to "#{event.title}", event_path(event.id)%></h5>
			    <p><%= event.start_date %> </p>
		  	</div>
			</div>

		<% end %>
	</div>
</div>