<table class="table table-striped container">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Adresse mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @event.users.each do |user| %> 
        <tr>
          <th scope="row"><%= i %></th>
            <td> <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %> </td>
            <td> <%= user.email %> </td>
            <td> <%= link_to "Voir le profil du participant", user_path(user.id) %> </td>
          </th>
        </tr>
    <% end %>
  </tbody>
</table>
